main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 15px;
}

.info > p {
  font-weight: 450;
  font-size: 18px;
  line-height: 24px;
}

.info > h1 {
  font-weight: 400;
  font-size: 52px;
  line-height: 81px;
}

.info > h2 {
  font-weight: 450;
  font-size: 32px;
  line-height: 42px;
  color: #4d5bce;
}

.introduction > div > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
}

.const {
  color: #4d5bce;
}

.const-name {
  color: #43d9ad;
}

.github-link {
  color: #e99287;
}

.lottie-animation {
  background-image: url(../images/blurs.png);
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  color: #e99287;
  padding: 0;
}

.tech {
  color: #43d9ad;
}

@media screen and (max-width: 1250px) {
  main {
    width: 90%;
  }
}

@media screen and (max-width: 965px) {
  main {
    flex-direction: column;
    gap: 50px;
  }
  .introduction {
    margin-top: 10px;
    gap: 30px;
  }
  .lottie-animation {
    justify-content: center;
    background: none;
  }

  .info > p {
    font-size: 16px;
  }

  .info > h1 {
    font-size: 32px;
    line-height: 32px;
  }

  .info > h2 {
    font-size: 22px;
  }

  .introduction > p {
    font-size: 16px;
  }

  h2 {
    color: #e99287;
    padding: 0;
  }

  .animation {
    display: none;
  }
}
